.modal-card-head,
.modal-card-foot
  font-size: 16px
  background-color: $white
.modal-card-head
  border-bottom: 1px solid hsla(210,8%,51%,.13)
  .modal-card-title
    font-size: 16px
    font-weight: 500
.modal-card-foot
  border-top: 1px solid hsla(210,8%,51%,.13)
  justify-content: flex-end
